<footer class="footer">
  <small>
    &copy; 2019 The <a href="#">Ruby on Rails Audit sample application</a>
    by <a href="https://github.com/Anna-Myzukina">Anna Muzykina</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Top",   '#' %></li>
      
    </ul>
  </nav>
</footer>